@media screen and (max-width: 600px) {
    footer {
        .container {
            .row {
                .col {
                    width: 40%;
                    a {
                        font-size: small;
                        margin-left: 0%;
                    }
                }
            }
        }
    }
}