#nosotrosymedia {
    border-radius: 15px;
    font-size: medium;
    p {
        width: 100%;
        font-size: larger;
        text-align: justify;
    }
    iframe {
        width: 100%;
        min-height: 170px;
        max-height: 220px;
    }
}